@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  background-color: #111111
}

h1,h2{
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  top: 65%;
  left: 50%;
  height: 150px;
  width: 500px;
  margin: -75px 0 0 -250px;
  padding: 20px;
  font: 100px/75px Monoton, cursive;
  text-align: center;
  text-transform: uppercase;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 500px;
  margin: -75px 0 0 -250px;
  padding: 20px;
  font: 100px/75px Monoton, cursive;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #9992ff,0 0 6px #6e6ed8;
  
}

h2{
  
  text-shadow: 0 0 80px red,0 0 30px rgb(255, 0, 0),0 0 6px rgb(247, 3, 3);
  color: red;
}